app-async-side-panel
  &:host

    ::ng-deep
      lib-side-panel

        .container
          right 0
          background-color #FF3
          opacity 0.8
          transition width 0.7s

          .content

            ul
              padding 25px

              li
                list-style-type none
