app-root
  &:host
    display: block
    height: 100%

    ::ng-deep
      lib-side-panel

        .container
          position: absolute
          top: 0
          bottom: 0
          right: 0

          background-color: black
          opacity: 0.8
          transition: width 0.7s
          display: inline-block
          color: white

          .content
            padding: 25px

            ul
              li
                list-style-type: none
