app-root
  &:host

    ::ng-deep
      lib-side-panel

        .container
          right: 0
          background-color: #FF3
          opacity: 0.8
          transition: width 0.7s

          .content
            padding: 25px

            ul
              li
                list-style-type: none
