@import '@angular/material/prebuilt-themes/purple-green.css';

@import './assets/stylesheets/layouts.styl'
@import './assets/stylesheets/forms.styl'


body
  background #303030
  color white

  a
    color #bebeb7
